/* h1 {
    color: red;
} */

.ilink {
    stroke: #440044;
    stroke-width: 1px;
    fill: none;
  }
  .ilink--selected {
    stroke: #2ca02c;
    stroke-width: 3px;
    fill: none;
  }
  
  .zone1 {
    stroke: #ff0099;
    stroke-width: 3px;
    fill: #cc44ff;
  }
  
  .zone2 {
    stroke: #0044ff;
    stroke-width: 3px;
    fill: #00ccff;
  }
  
  .zone3 {
    stroke: #00ff44;
    stroke-width: 3px;
    fill: #44cc00;
  }
  


  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }