 
.pageContainer
  padding: 10px
  background: white

.pageTitle  

.pageContent
  padding: 10px
  background: #DDDDDD

.component
  padding: 10px
  margin:  10px
  background: white

.parameter
  padding: 10px
  margin:  10px
  background: #BBBBBB

.domain
  padding: 10px
  margin:  10px
  background: white

.domainType
  padding: 10px
  margin:  10px
  background: #999999